*{
  border:0;
  padding:0;
  margin:0;
  /* box-sizing: border-box; */

}
::-webkit-scrollbar-thumb {
  background-color: rgb(217, 161, 7); /* Set the color of the scrollbar thumb */
}

.Navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(1,1,112);
  
  padding-top:25px;
 

}
.Navbar li{
  list-style:none;

  font-size:25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left:13px;

}
.Navbar li a {
  text-decoration: none;
  color:white;
}

.container p{
  margin-top: 30px;
}
.Number{
  font-size:50px;
  color:white;

}
.footer{
  display: flex;
  justify-content: space-between;
}
.rental{
  flex:1;
  min-width: 0;

  border:3px solid rgb(217, 161, 7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:larger;
  color: white;
  background-color: rgb(1, 1, 112);
  padding:10px;

}
.book{
 background-color: rgb(1, 1, 112);
  padding-bottom: 40px;
  color: white;
  border-top:3px solid rgb(217, 161, 7);
  border-left:3px solid rgb(217, 161, 7);
  border-right:3px solid rgb(217, 161, 7)

}

.rental ul li{
  list-style: none;
}

.container-flats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 1, 112);
}

.container-flats-sub {
  width: calc(33.33% - 10px); /* Adjust the width based on your requirements */
  margin-bottom: 20px;
  /* Additional styling properties for the container */
  
}
.container-flats-sub img, .container-flats-sub h4{
  margin-top:20px;
  margin-bottom: 20px;
  
}

.container-flats-sub img{
  border:3px solid rgb(217, 161, 7);
}
.rent {
  padding:20px 20px;
  border:3px solid rgb(217, 161, 7);
  background-color: rgb(1, 1, 112);
  color: white;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* for about route */
.about-container{
  /* border:2px solid red; */
  display: flex;

  justify-content: space-evenly;
  margin-right: 10px;
  padding-bottom:60px;
  padding-top:30px;
  /* background-color: rgb(1, 1, 112); */
  color: rgb(1, 1, 112);
}
.about-container img{
  border:3px solid rgb(217, 161, 7);
  margin-right:10px;
}
.about-container-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size:large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border:2px solid red; */
}
.about-container-wrapper h1{
  font-size:45px;
}
.about-container-wrapper-logos{
  display: flex;
  justify-content: space-evenly;
}
.about-container-wrapper-logos h1 span{
  font-size:50px;
  color: rgb(217, 161, 7);
}
.about-container-wrapper-logos h1{
  font-size:30px;
}


/* for testimonial route */
.Testimonials{
  border:4px solid rgb(217, 161, 7);
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(1, 1, 112);
  margin-bottom: 100px;
}
.testim-image img{
  border-radius: 100%;
}
.testim-h1{
  display: flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom:30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:40px;
}
.right{
  padding:20px 40px;
  border: 3px solid #febb02;
  color:white;
  font-size:large;
  background-color: rgb(1, 1, 112);
  margin-top:20px;

}
/* for main  route css */

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-wrapper{

  padding:20px 10px;

 
}
.sign, .login{
  margin-right: 10px;
  padding:8px 8px;
  border:4px solid rgb(248, 197, 56);
  background-color: #febb02;
  color:white;
  font-weight: bold;

}
.sign:hover, .login:hover{
  cursor:pointer;

}


.navbar{
display: flex;
list-style: none;
padding:20px;


color: white;


}
.navbar li{
margin-left:8px;
font-size:20px;


}
.navbar li:hover{
cursor:pointer;
color:rgb(202, 148, 0);
}
.navbar-wrapper{
display: flex;
justify-content: space-between;
background-color: rgb(1, 1,112);


}
.book-container-main-heading{

padding:100px 30px;
background-color: rgb(1, 1,112);
color: white;
font-size: x-large;

}

.book-container{
display: grid;
grid-template-columns: repeat(3,1fr); /* Single column layout */
border: 4px solid #febb02;
background-color: rgb(1, 1,112);
color: white;
grid-gap: 10px;
}
.form-row {
display: grid;
grid-template-rows: auto 1fr; /* Specify the rows for label and input */
grid-gap: 5px;
justify-items: center;
align-items: center;
}
.form-row label{
font-size: large;
}
label {
justify-self: center; /* Center the label horizontally */
}

.destination, .checkin, .checkout{
width: 100%;


}
.submit2{
grid-column-start:2;
grid-column-end:3;
border: 4px solid #febb02;

margin-bottom:10px;
padding:10px 10px;
font-size:15px;
color:white;
font-weight:bold;
background-color: rgb(1, 1,112);


}

.container {
width: 700px; /* Set the desired width */
height: 500px; /* Set the desired height */
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
justify-content: center;
align-items: center;
margin-left: 20%;
margin-top:3%;
margin-bottom: 5%;
}
.pouplar-container{
background:url('../src/images/city.jpg');
background-color: rgb(152, 151, 151);
background-blend-mode: multiply;
height:100vh;
color:white;

background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.image {
width: 100%; /* Make the image fill its grid cell */
height: 100%;
object-fit: cover; /* Adjust the image to fill the container */
border: 4px solid #febb02;
}
#image1{
grid-column: span 2;

}
#image2{
grid-column: span 2;
}

#image4{
grid-column-start: 2;
grid-column-end: 4;
}

/* for BOOK container */


.book-container-wrapper{
  /* display: flex;
  justify-content: flex-start; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.itemUpdatelength{
  /* border:2px solid #febb02; */
  grid-column: span 3;
  margin-top:6px;
}
.new-container-sub{
  border:2px solid #febb02;
  margin:10px;
}
.new-container-sub img{
  border:3px solid #febb02;
  margin-left:10%;
  margin-top:10px;
}
.new-container-sub button{
  border:3px solid #febb02;
  padding:10px 10px;
  margin-top:8px;
}


.new-container{
  grid-column-start:2;
  grid-column-end: 4;
}
.FilterBy{
  border: 2px solid #febb02;
  margin-top:10px;
  
}
.FilterByStars{
  /* border:2px solid green; */
  margin-bottom: 20px;
  margin-top: 20px;

}

/* modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Positioned relative to the browser window */
  z-index: 1; /* Sit on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% width */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* .image-container img {
  width: 100%;
  height: auto;
} */

/* #image-container-img{
  border: 2px solid blue;
} */

.image-reviews-wrapper {
  display: flex;
  /* border:2px solid red; */
}
.modal-content-heading{
  display: flex;
  justify-content: space-between;
}
.extra-images {
  flex: 1;
  overflow-y: scroll;
  height: 400px; /* Adjust the height as needed */
}

.reviews-container {
  flex: 1;
  overflow-y: scroll;
  height: 400px; /* Adjust the height as needed */
  
}

.review-item {
  margin-bottom: 20px; /* Add spacing between each review */
}

 /* DESTINATION ROUTE IMAGES */
 .image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.destination-images-sub {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 75%;
}

.destination-images-sub img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* header */
.header-container{
  border:4px solid #febb02;
  background-image: url('../src/images/city.jpg');
  background-color: rgb(197, 197, 197);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:100px 20px;

  color:white;
  font-weight: bold;

}


/* FOR INCREMENT BUTTON */
.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  /* border:2px solid grey; */
}

.button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2f2f2; */
  border: 1px solid #ccc;
  cursor: pointer;
}

.button:hover {
  background-color: #e0e0e0;
}

.increment-button {
  border-radius: 0 4px 4px 0;
}

.decrement-button {
  border-radius: 4px 0 0 4px;
}


/* FOR TAGSS */
.select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CSS for the cross button */
.select .tag , .tag{
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  background-color: #eee;
  border-radius: 4px;
  border:2px solid red;
}
.tag:hover{
  cursor: pointer;
}
.select .tag .close {
  display: inline-block;
  margin-left: 5px;
  color: red;
  cursor: pointer;
}
.select{ 
  border:2px solid yellow;
}